/* @font-face {
  font-family: "ITC Franklin Gothic Heavy";
  src: url("./font/ITC_Franklin_Gothic_Heavy.otf") format("otf");
} */

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* pie css start */


.pie-container {
  display: flex;
  justify-content: center;
}
#mycanvas {
  display: flex;
  justify-content: center;
  font-size: 16px;
}
.line-path {
  fill: none;
  stroke-width: 1;
  stroke: #808080;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.inner-circle {
  fill: #0a071e;
  stroke: white;
  stroke-width: 2;
}
.inner-circle-text {
  fill: #808080;
}
.inner-circle-text-init {
  fill: #808080;
}


/* pie css end */
.header,
.pie-container,
.category-container,
.footer{
  padding: 0 .5em;
}

/* assessment css start */
.header{
  background: #e5e5e5;
  padding: 1em 0;
  width: 100%;
  color: #135513;
}
.header h2{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5em;
}

.category-container {
  width: 100%;
  transition: .2s ease-in-out;
}
.categoryTitle{
  padding: 1em;
  border-radius: 5px;
  font-size: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit,50% 50%);
  justify-content: center;
  gap: .5em;
  background: #0e0e0e;
  /* color: white; */
   
}
.arg-container {
  background: #e5e5e5;
  border-radius: 5px;
  padding: .5em;
  margin-top: .5em;
}

h3{
  background: #b5b5b5;
  /* margin: .5em; */
  padding: .5em;
  border-radius: 5px;
  font-size: 16px;
}
.arg-list{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(2rem,8rem));
  align-items:stretch;
  justify-content: center;
  font-size: 14px;
  gap: .5em;
}

.list-btn {
  position: relative;
  padding: 5px;
  cursor: pointer;
  border: none;
  font-family: inherit;
  margin-bottom: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: .5em;
}

.select-button {
  background: #cdcdcd;
}

.select-button-active {
  background: #7996b1;
}
.list-btn span{
  display: inline-block;
  width: 13px;
  height: 13px;
  background: #e5e5e5;
  border-radius: 5px;
}
.select-button-active.list-btn span{
  background: #475767;
}
.arg-control{
  margin-top: .5em;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  gap: .2em;
}
.arg-control button{
  border: none;
  padding: 1em;
  border-radius: 5px;
  font-family: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: .2em;
}
.answer-count{
  color: #c97777;
  padding-top: .5em;
}
.btn-prev{
  background: #788ea5;
  margin-right: .2em;
}
.btn-next{
  background: #788ea5;
}
.footer{
  width: 100%;
  background: #0e0e0e;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: .5em;
  justify-content: center;
  align-items: center;
  color: #a19e9e;
}
.footer ul,
.footer h4 ,
.footer p{
  max-width: 700px;
}
.footer ul li{
  list-style: inside;
  text-align: start;
  margin-bottom: .2em;
}
/* resposive css */

@media only screen and (min-width:768px) {
  .category-container {
    width: 80%;
  }
}